@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/components";

@import "layout/landing";
@import "layout/main-nav";
@import "layout/modal-container";
@import "layout/indiv-section/index";

@import "layout/portfolio-section/index";

// globals

html {

    font-size: 62.5%;
    height: 100%;
}

body {

    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Sarabun', sans-serif; // 'Nunito Sans', sans-serif;
    line-height: 1.5;
    color: white;
}

a {
    text-decoration: none;
    color: initial;
}

#app, .app-container {

    height: 100%;
}

*:focus {

    outline:none
}

button {

    background-color: $purple;
    color: white;
    cursor: pointer;

    &:hover {

        opacity: .9;
    }

    &:active {

        opacity: .5;
    }
}


.indiv-container {

    overflow: scroll;

    @include cell(){

        max-height: 67vh;
    }

    @include tab(){

        max-height: 77vh;
    }

    @include desk(){
        max-height: 73vh;
        margin-top: 3vh;
    }
}

.error_message {

    color: black;
    font-size: 3vh;
    display: block;
    text-align: center;
}
