@import "abstracts/mixins";
@import "abstracts/variables";
@import "layout/landing";
@import "layout/main-nav";
@import "layout/indiv-nav";
@import "layout/indiv-fin";
@import "layout/indiv-perf";
@import "layout/data-nav";

// globals

html {
    font-size: 62.5%;
    height: 100%;
}


body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Sarabun', sans-serif; // 'Nunito Sans', sans-serif;
    line-height: 1.5;
    color: white;
}

#app, .app-container {

    height: 100%;
}

*:focus {

    outline:none
}

button {

    background-color: $purple;
    color: white;
    cursor: pointer;

    &:hover {

        opacity: .9;
    }

    &:active {

        opacity: .5;
    }
}
