@import "abstracts/mixins";
@import "abstracts/variables";

@import "layout/landing";
@import "layout/main-nav";
@import "layout/data-nav";
@import "layout/modal-container";

@import "layout/indiv-nav";
@import "layout/indiv-fin";
@import "layout/indiv-perf";
@import "layout/indiv-news";
@import "layout/indiv-trans";

@import "layout/all-nav";
@import "layout/all-watchlist";
@import "layout/all-trans";

// globals

html {

    font-size: 62.5%;
    height: 100%;
}

body {

    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Sarabun', sans-serif; // 'Nunito Sans', sans-serif;
    line-height: 1.5;
    color: white;
}

#app, .app-container {

    height: 100%;
}

*:focus {

    outline:none
}

button {

    background-color: $purple;
    color: white;
    cursor: pointer;

    &:hover {

        opacity: .9;
    }

    &:active {

        opacity: .5;
    }
}


.indiv-container {

    overflow: scroll;

    @include cell(){

        max-height: 83vh;
    }

    @include tab(){

        max-height: 77vh;
    }

    @include desk(){
        max-height: 73vh;
        margin-top: 3vh;
    }
}