
// vars

$purple : #613EEA;
$purple-light: rgba(97, 62, 234, .1);
$white-background : rgba(255,255,255,.1);
$max: max-device-width;
$min: min-device-width;

// mixins

@mixin text-justify {

    text-align: justify;
}

@mixin no-text-break {

    white-space: nowrap
}

@mixin absCenter {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin cell(){
    @media only screen and ($max: 600px) { 
        @content 
    };    //600px
}

@mixin tab(){
    @media only screen and ($min: 601px) { 
        @content 
    };    //600px
}

// desktop - 1200-1600

@mixin desk(){
    @media only screen and ($min: 1100px) { 
        @content 
    };    //600px
}

// globals

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Sarabun', sans-serif; // 'Nunito Sans', sans-serif;
    line-height: 1.5;
    color: white;
}

#app, .app-container {

    height: 100%;
}

*:focus {

    outline:none
}

button {

    background-color: $purple;
    color: white;
    cursor: pointer;

    &:hover {

        opacity: .9;
    }

    &:active {

        opacity: .5;
    }
}




// pages

.landing-rev {

    flex-direction: row-reverse !important;

    transition: display 2s;
}

.landing {

    height: 100%;
    background-color: white;

    transition: display 2s;

    @include desk(){

        display: flex;
        flex-direction: row;

        height: 75%;
        width: 75%;
        @include absCenter();
    }
    
    .header {
            
        background-color: $purple;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        
        @include cell(){

            height: 30%;
        }

        @include tab(){

            height: 25%;
        }

        @include desk(){

            width: 40%;
            height: 100%;

        }

        img {
            position: absolute;
            top: 2vh;
            right: 2vh;
            
            @include cell(){
                
                height: 15rem;
            }

            @include tab(){
                
                height: 12rem;
            }

            @include desk(){

                height: 6vh;
            }
        }
            
        .title {
            
            @include cell(){
                line-height: 2;
                font-size: 3vh;
            }

            @include tab(){

                font-size: 3vh;
            }

            @include desk(){
                font-size: 4vh;
                align-self: flex-start;
                margin-top: 2vh;
                margin-left: 2vh;

            }
        }
        

        .blurb {
            
            display: inline-block;
            width: 60%;
            margin-top: .5vh;
            
            @include text-justify;
            
            @include cell(){

                font-size: 2.1vh;
            }

            @include tab(){

                font-size: 2.1vh;
            }

            @include desk(){

                align-self: flex-start;
                margin-top: 15vh;
                margin-left: 2vh;
                width: 80%

            }

        }

        .sign-btns {

            margin: end;
            display: flex;
            justify-content: space-between;

            span {
                    
                margin-top: auto;
                cursor: pointer;
            }

            @include cell(){

                width: 90%;
                margin-top: auto;
                margin-bottom: 2vh;
                font-size: 6rem;
            }

            @include tab(){

                font-size: 3vh;
                margin-top: auto;
                margin-right: auto;
                margin-left: 2vh;
                
                span:nth-child(1){

                    margin-right: 2vh;
                }
            }

            @include desk(){

                span:nth-child(1){
                    margin-right: 0;
                    font-size: 75%;
                    opacity: .4;
                    cursor: text;

                    &:hover{
                        text-decoration: none;
                    }
                }

                span {

                    @include no-text-break();
                    margin-left: 1vh;
                    margin-bottom: 6vh;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            
            .unselected {

                opacity: .5;
                font-size: 75%;
            }
        }
    }

    .form {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;

        @include desk(){

            width: 60%;
            justify-content: center;
        }

        div {

            
        }

        span {

            display: block;
            color: black;
            
            @include cell(){

                font-size: 3vh;

            }

            @include tab(){
                
                font-size: 3vh;
            }

            @include desk(){

                font-size: 2vh;
            }

            &:last-child {

                margin-top: .5vh;
                font-size: 2vh;
                cursor: pointer;

                &:hover{

                    text-decoration: underline;
                    opacity: .5;
                }
            }
        }

        input {

            caret-color: black;
            height: 3vh; 

            @include cell(){

                width: 80vw;
                font-size: 3vh;
                border: solid black 1px;
            }

            @include tab(){
             
                width: 80vw;
                font-size: 3vh;
                border: solid black 1px;
            }

            @include desk(){
                height: 4vh;
                width: 20vw;
            }
        }

        button {

            @include cell(){

                height: 4vh;
                width: 82%;
                font-size: 5rem;
                padding: 3px;
                margin-top: 2vh;
            }

            @include tab(){

                height: 4vh;
                width: 50%;
                font-size: 3vh;
                margin-top: 2vh;
            }

            @include desk(){

                width: 20vw;
            }
        }
    }
}

footer {

    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    background-color: $purple-light;
    padding: 1vh;

    img {
        height: 5vh;
        background-color: white;
        padding: .5vh;
        border-radius: 10px;
    }
}
