
.all-trans {

    color: black;
    text-align: center;

    @include desk(){

        width: 75%;
        margin: auto;
    }

    > span {

        display: block;
        color: black;
        font-size: 3vh;
        font-family: "Exo 2", sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        margin-top: 4vh;
        margin-bottom: 4vh;

        @include tab(){

            margin-bottom: 8vh;
        }

    }

    // container for header

    > div:nth-of-type(1){

        position: sticky;
        top: -1vh;
        background-color: white;

        text-align: center;

        span{

            display:inline-block;
            border-bottom: solid grey 4px;
            width: 16vw;
            font-size: 2vh;

            @include desk(){
                font-size: 3vh;
                width: 10vw;
            }
        }
    }

    // container for rows

    > div:nth-of-type(2){

        text-align: center;
        
        @include cell(){
            
            margin-top: 2vh;
            max-height: 62vh;
            overflow: scroll;
        }

        @include tab(){
            
            margin-top: 2vh;
            max-height: 67vh;
            overflow: scroll;
        }

        span{
            font-size: 1.8vh;
            display:inline-block;
            border-bottom: solid grey 1px;
            width: 16vw;

            @include desk(){

                width: 10vw;
                font-size: 3vh;
            }
        }

        span:nth-of-type(5){
            font-size: 1.5vh;

            @include desk(){

                width: 10vw;
                font-size: 3vh;
            }
        }
    }
}