
.all-watchlist {

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

    // title

    > span {
        color: black;
        font-size: 3vh;
        font-family: $second-text;
        text-transform: uppercase;
        font-weight: 100;
        margin-top: 4vh;
        margin-bottom: 4vh;

        @include desk(){

            margin-top: 2vh;
        }
    }

    i {
        color: black;
        font-size: 3.5vh;
        background-color: white;

        &:hover{
            cursor: pointer;
        }

    }
    
    .fa-plus-edit {

        margin-right: 4vh;
    }

    // nav buttons

    > div:first-child {
        position: fixed;
        right: 2vh;
        top: 2vh;

        @include desk(){
            right: 28vh;
            top: 11vh;
        }
        
    }

    // the entire list 

    > div:nth-child(3) {

        @include cell(){

            max-height: 60vh;
            overflow: scroll;
        }

        @include tab(){

            max-height: 70vh;
            overflow: scroll;
            margin-top: 5vh;
        }

        @include desk(){
            margin-top: 2vh;
        }
    }

    .fa-minus{

        display: inline-block;
        margin-bottom: 2vh;
        font-size: 2vh;
    }

    // portfolio items 

    .watchlist-item-container{

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 85vw;

        .fa-plus {
            margin-right: 0vh;
            font-size: 2vh;
            margin-bottom: 1vh;
        }

        @include desk(){

            width: 50vw;
        }
    }

    .watchlist-item {
        
        border-bottom: solid black 1px;
        width: 70vw;
        height: 6vh;
        margin-bottom: 3vh;

        display: flex;
        justify-content: space-between;

        @include desk(){

            width: 44vw;
            height: 7vh;
            margin-bottom: .5vh;
        }

        span {

            font-size: 2vh;

            @include desk(){

                font-size: 2vh;
            }
        }

        div:first-child{
            
            span:first-child{
                
            }

            // company name
            span:nth-of-type(2){

                color: black;
                font-size: 2.25vw;
                max-width: 35vw;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                margin-left: 1vh;

                @include desk(){
                    font-size: 1.5vh;
                }
            }

            span:last-child{
                display: block;
            }
        }

        div:nth-child(2){

            color: black;

            span:first-child{

            }
            
            span:last-child{

                display: block;
            }
        }
    }
}

.symbol-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    div {
        height: 10vh !important;
    }

    span {
        font-size: 4vh;
        color: $light-blue;

        &:last-child{
            font-size: 2vh;
        }

    }

    button {
        margin: 0 !important;
    }
}
