.all-nav {

    display: flex;
    justify-content: space-evenly;
    background-color: white;

    @include cell(){

        position: absolute;
        bottom: 10vh;
        width: 100vw;
    }

    @include tab(){

        position: absolute;
        bottom: initial;
        top: 11vh;
        width: 100vw;
    }

    @include desk(){

        position: absolute;
        bottom: initial;
        top: 20vh;
        width: 100vw;
    }
    
    a {
        text-decoration: none;
    }
    
    .selected {
        color: $light-blue;
        border-top: solid $light-blue 4px;
    }

    span {
        
        border-top: solid grey 4px;
        font-size: 3vh;
        color: grey;

    }
}