.individual-nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

    a {
        text-decoration: none;
    }

    span {

        font-size: 3vh;
        font-family: $second-text;
        color: $light-blue;
        
        @include tab(){

            font-size: 2.5vh;
        }
    }

    > span{

        cursor: pointer;

        &:hover{
            border-bottom: solid $light-blue 3px;
        }
    }
 
    // the trade icon
    // for the cell layout

    > i {

        color: black;
    }

    // the chevron icon 
    // for the cell layout

    div:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        @include cell(){
            flex-grow: .5;
            left: 2.5vh;
        }

        @include tab(){
            flex-grow: initial;
            left: 2vh;
        }
    }

    div > i {
        color: $light-blue;
        position: relative;
        bottom: .1vh;
        left: 1vh;
    }
}


.page-selector {
        
    @include cell(){
        margin-top: 10vh;
        background-color: white;
        width: 40vh;
        height: 40vh;
    }

    @include tab(){

        margin-bottom: 1vh;
    }

    > div {
        
        @include cell(){
            
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @include tab(){

            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        @include desk(){


        }
    }

    .selected {

        border-bottom: solid $light-blue 3px;
    }
     
    span, a {

        color: black;
        display: inline-block;

        @include cell(){

            font-size: 4vh;
        }

        @include tab(){
            text-align: center;
            font-size: 2vh;
        }

        &:not(:last-child){

            @include cell(){

                margin-bottom: 2.5vh;
            }

            @include desk(){
                // margin-right: 10vh;
            }
        }
    }

}