.news-box {

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    margin-bottom: 1vh;
    color: black;
    border-bottom: solid grey 1px;

    @include desk(){
        width: 75%;
        margin: auto;
        margin-bottom: 2vh;
    }
    
    img {

        height: 15vh;
        width: auto;
        padding: 0 2vh 2vh 2vh;
    }

     > div{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 65%;

        span {
            line-height: 1;
            margin: 1vh;
        }
    
        span:nth-of-type(1){
            font-size: 3vh;
        }

        span:nth-of-type(2){
            font-size: 1.5vh;
        }

        span:nth-of-type(3){
            font-size: 2vh;
        }
    }
}