.indiv-perf {
    color: black;

    @include desk(){

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .ticker-box {

        display: inline;
        position: relative;
        font-family: 'Exo 2', sans-serif;

        @include desk(){
            position: static;
        }
 
        span:first-child{
            font-size: 5vh;
            position: relative;
            left: 7vh;
            top: 5vh;
            color: $light-blue;

            @include desk(){
                position: static;
            }
        }

        span:nth-of-type(2){
            color: black;
            position: relative;
            font-size: 2vh;
            right: -1vh;
            top: 8vh;
            font-weight: 100;

            @include desk(){
                position: static;
            }
        }
    }
    
    .first-datapoints {

        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: 12vh;
        font-family: 'Exo 2', sans-serif;

        @include desk(){
            position: static;
            width: 30vw;
        }

        div {
            display: inline-block;
        }
        
        span:first-child{
            @include secondary-grey-text;
            font-size: 2vh;
            display: block;
        }

        span:last-child{
            @include secondary-text;
            font-size: 3vh;
            display: block;
        }
    }

    .second-datapoints {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        font-family: 'Exo 2', sans-serif;
        top: 35vh;
        margin-top: 4vh;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        span:first-child{
            @include secondary-grey-text;
            font-size: 2vh;
            display: block;
            margin-right: 3vh;
        }

        span:last-child{
            @include secondary-text;
            font-size: 2vh;
            display: block;
        }
    }

    .chart-container {

        height: 40vh;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2vh;

        span:first-child{
            font-size: 2vh !important;

        }

        @include cell(){
            top: 22vh;
        }

        @include desk(){

            width: 75vw;
            margin-bottom: 2vh;
        }

        .chart {

            width: 80%; 
            height: 80%;
        }
    }

    .data-nav {

        text-transform: uppercase;
        display: flex;
        justify-content: space-evenly;


        position: fixed;
        top: 85vh;
        width: 100vw;
        font-size: 2vh;

        @include desk(){

            position: static;
            justify-content: space-around;
            width: 25vw;
            margin: auto;
        }

        span{
            cursor: pointer;

            @include desk(){                
                &:not(:last-child){

                }
            }
        }

        .selected {
            border-top: solid $light-blue 3px;
        }
    }
}
