/*

original theme;

$purple : #613EEA;
$purple-light: rgba(97, 62, 234, .1);
$light-blue: #34A9FF;

*/
@keyframes blink {
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }

.loading-dots {
  height: auto;
  width: auto; }
  .loading-dots :nth-child(1) {
    animation: blink 1s infinite; }
  .loading-dots :nth-child(2) {
    animation: blink 1s infinite;
    animation-delay: .2s; }
  .loading-dots :nth-child(3) {
    animation: blink 1s infinite;
    animation-delay: .4s; }

.landing-rev {
  flex-direction: row-reverse !important; }

.landing {
  height: 100%;
  background-color: white;
  overflow: hidden; }
  @media only screen and (min-device-width: 1100px) {
    .landing {
      display: flex;
      flex-direction: row;
      height: 75%;
      width: 75%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  .landing form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .landing .header {
    background-color: rgba(22, 30, 38, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative; }
    @media only screen and (max-device-width: 600px) {
      .landing .header {
        height: 30%; } }
    @media only screen and (min-device-width: 601px) {
      .landing .header {
        height: 25%; } }
    @media only screen and (min-device-width: 1100px) {
      .landing .header {
        width: 40%;
        height: 100%; } }
    .landing .header img {
      position: absolute;
      top: 2vh;
      right: 2vh;
      border: 1px solid black; }
      @media only screen and (max-device-width: 600px) {
        .landing .header img {
          height: 15rem; } }
      @media only screen and (min-device-width: 601px) {
        .landing .header img {
          height: 12rem; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .header img {
          height: 10vh; } }
    .landing .header .title {
      font-family: "Exo 2", sans-serif;
      font-weight: 100; }
      @media only screen and (max-device-width: 600px) {
        .landing .header .title {
          line-height: 2;
          font-size: 3vh; } }
      @media only screen and (min-device-width: 601px) {
        .landing .header .title {
          font-size: 3vh; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .header .title {
          font-size: 4vh;
          align-self: flex-start;
          margin-top: 2vh;
          margin-left: 2vh; } }
    .landing .header .blurb {
      display: inline-block;
      width: 60%;
      margin-top: .5vh;
      text-align: justify; }
      @media only screen and (max-device-width: 600px) {
        .landing .header .blurb {
          font-size: 2.1vh; } }
      @media only screen and (min-device-width: 601px) {
        .landing .header .blurb {
          font-size: 2.1vh; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .header .blurb {
          align-self: flex-start;
          margin-top: 15vh;
          margin-left: 2vh;
          width: 80%; } }
    .landing .header .sign-btns {
      margin: end;
      display: flex;
      justify-content: space-between; }
      .landing .header .sign-btns span {
        margin-top: auto;
        cursor: pointer; }
      @media only screen and (max-device-width: 600px) {
        .landing .header .sign-btns {
          width: 90%;
          margin-top: auto;
          margin-bottom: 2vh;
          font-size: 6rem; } }
      @media only screen and (min-device-width: 601px) {
        .landing .header .sign-btns {
          font-size: 3vh;
          margin-top: auto;
          margin-right: auto;
          margin-left: 2vh; }
          .landing .header .sign-btns span:nth-child(1) {
            margin-right: 2vh; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .header .sign-btns span:nth-child(1) {
          margin-right: 0;
          font-size: 75%;
          opacity: .4;
          cursor: text; }
          .landing .header .sign-btns span:nth-child(1):hover {
            text-decoration: none; }
        .landing .header .sign-btns span {
          white-space: nowrap;
          margin-left: 1vh;
          margin-bottom: 6vh; }
          .landing .header .sign-btns span:hover {
            text-decoration: underline; } }
      .landing .header .sign-btns .unselected {
        opacity: .5;
        font-size: 75%; }
  .landing .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem; }
    @media only screen and (min-device-width: 1100px) {
      .landing .form {
        width: 60%;
        justify-content: center; } }
    .landing .form .error-message {
      position: absolute;
      top: 5vh; }
      .landing .form .error-message:hover {
        text-decoration: none;
        opacity: 10; }
    .landing .form span {
      display: block;
      color: black; }
      @media only screen and (max-device-width: 600px) {
        .landing .form span {
          font-size: 3vh; } }
      @media only screen and (min-device-width: 601px) {
        .landing .form span {
          font-size: 3vh; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .form span {
          font-size: 2vh; } }
      .landing .form span:last-child {
        margin-top: .5vh;
        font-size: 2vh;
        cursor: pointer; }
        .landing .form span:last-child:hover {
          text-decoration: underline;
          opacity: .5; }
    .landing .form input {
      caret-color: black;
      height: 3vh; }
      @media only screen and (max-device-width: 600px) {
        .landing .form input {
          width: 80vw;
          font-size: 3vh;
          border: solid black 1px; } }
      @media only screen and (min-device-width: 601px) {
        .landing .form input {
          width: 80vw;
          font-size: 3vh;
          border: solid black 1px; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .form input {
          height: 4vh;
          width: 20vw; } }
    @media only screen and (max-device-width: 600px) {
      .landing .form button {
        height: 4vh;
        width: 82%;
        font-size: 5rem;
        padding: 3px;
        margin-top: 2vh; } }
    @media only screen and (min-device-width: 601px) {
      .landing .form button {
        height: 4vh;
        width: 50%;
        font-size: 3vh;
        margin-top: 2vh; } }
    @media only screen and (min-device-width: 1100px) {
      .landing .form button {
        width: 20vw; } }

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-evenly;
  background-color: rgba(22, 30, 38, 0.4);
  padding: 1vh;
  width: 100vw; }
  footer img {
    height: 4.5vh;
    background-color: white;
    padding: .5vh;
    border-radius: 10px; }
    footer img:hover {
      opacity: .5; }

.all-screens {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(22, 30, 38, 0.4);
  width: 100%; }
  .all-screens .selected {
    color: #e535ab; }
  .all-screens img {
    border: 1px solid black; }
  @media only screen and (max-device-width: 600px) {
    .all-screens {
      position: fixed;
      bottom: 0; }
      .all-screens img {
        height: 7vh; }
      .all-screens i {
        margin-top: 2vh;
        margin-bottom: 2vh;
        color: grey;
        font-size: 4vh; } }
  @media only screen and (min-device-width: 601px) {
    .all-screens {
      position: fixed;
      bottom: 0; }
      .all-screens img {
        height: 6vh; }
      .all-screens i {
        margin-top: 2vh;
        margin-bottom: 2vh;
        color: grey;
        font-size: 3vh; } }
  @media only screen and (min-device-width: 1100px) {
    .all-screens {
      position: static;
      height: 4vh;
      bottom: initial; }
      .all-screens a {
        display: flex;
        align-items: center; }
        .all-screens a * {
          margin-left: 1vh; }
        .all-screens a:hover {
          opacity: .5; }
      .all-screens img {
        height: 6vh;
        z-index: 2; }
      .all-screens i {
        margin-top: 2vh;
        margin-bottom: 2vh;
        color: grey;
        font-size: 3vh; }
      .all-screens span {
        font-size: 2vh; } }

@media only screen and (min-device-width: 1100px) {
  .desk-nav {
    width: 100%;
    height: 5vh;
    background-color: rgba(22, 30, 38, 0.8);
    text-align: right;
    position: relative;
    white-space: nowrap; }
    .desk-nav span {
      font-size: 2.5vh;
      margin-right: 2vh; }
      .desk-nav span:last-child {
        cursor: pointer; }
        .desk-nav span:last-child:hover {
          text-decoration: underline;
          opacity: .5; }
    .desk-nav span:first-child {
      margin-top: .5vh;
      position: absolute;
      left: 2vh;
      font-family: "Exo 2", sans-serif;
      font-weight: 100; }
    .desk-nav span:nth-child(2) {
      margin-top: .5vh;
      margin-right: 4vh; }
    .desk-nav span:last-child {
      margin-top: .5vh;
      margin-right: 2vh; } }

.modal-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: flex;
  align-items: flex-start;
  justify-content: center; }
  @media only screen and (min-device-width: 1100px) {
    .modal-container:not(:has(.symbol-selector)) {
      justify-content: flex-end; }
    .modal-container:has(.symbol-selector) {
      justify-content: center; } }
  .modal-container .trade-box {
    margin-top: 10vh;
    background-color: white;
    width: 40vh;
    height: 40vh;
    cursor: pointer; }
    @media only screen and (min-device-width: 1100px) {
      .modal-container .trade-box {
        margin-top: 21vh; } }
    .modal-container .trade-box > div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%; }
      .modal-container .trade-box > div span:last-child {
        position: absolute;
        background-color: white; }
    .modal-container .trade-box input {
      width: 26vh;
      height: 9vh;
      border: solid black 1px;
      font-size: 8vh; }
    .modal-container .trade-box button {
      width: 10.5vh;
      height: 8vh;
      background-color: #e535ab;
      font-size: 5vh;
      text-align: center; }
      @media only screen and (max-device-width: 600px) {
        .modal-container .trade-box button {
          font-size: 3vh; } }
      .modal-container .trade-box button:nth-of-type(1) {
        margin-right: 4vh; }
    .modal-container .trade-box > div > span {
      font-size: 5vh;
      color: #e535ab; }
    .modal-container .trade-box .trade-tooltip {
      top: -7vh;
      font-size: .8rem;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      width: 10vw;
      border-radius: 10px;
      left: 9vw;
      padding: .5rem; }
  .modal-container .symbol-selector {
    background-color: white;
    width: 30vh;
    cursor: pointer;
    font-size: 5vh;
    color: black;
    margin-top: 10vh; }
    @media only screen and (min-device-width: 1100px) {
      .modal-container .symbol-selector {
        margin-top: 14vh; } }
    .modal-container .symbol-selector span:hover {
      color: #e535ab;
      text-decoration: underline; }
    .modal-container .symbol-selector > div {
      max-height: 81vh;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      align-items: center; }

.individual-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh; }
  @media only screen and (min-device-width: 1100px) {
    .individual-nav {
      height: 5.5vh; } }
  .individual-nav a {
    text-decoration: none; }
  .individual-nav span {
    font-size: 3vh;
    font-family: "Exo 2", sans-serif;
    color: #e535ab;
    cursor: pointer; }
    @media only screen and (min-device-width: 601px) {
      .individual-nav span {
        font-size: 2.5vh; } }
  .individual-nav > span {
    cursor: pointer; }
    .individual-nav > span:hover {
      border-bottom: solid #e535ab 3px; }
  .individual-nav > i {
    color: black; }
  .individual-nav div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media only screen and (max-device-width: 600px) {
      .individual-nav div:nth-child(2) {
        flex-grow: .5;
        left: 2.5vh; } }
    @media only screen and (min-device-width: 601px) {
      .individual-nav div:nth-child(2) {
        flex-grow: initial;
        left: 2vh; } }
  .individual-nav div > i {
    color: #e535ab;
    position: relative;
    bottom: .1vh;
    left: 1vh; }
    @media only screen and (min-device-width: 1100px) {
      .individual-nav div > i {
        font-size: 3vh; } }

@media only screen and (max-device-width: 600px) {
  .page-selector {
    margin-top: 10vh;
    background-color: white;
    width: 40vh;
    height: 40vh; } }

@media only screen and (min-device-width: 601px) {
  .page-selector {
    margin-bottom: 1vh; } }

@media only screen and (max-device-width: 600px) {
  .page-selector > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media only screen and (min-device-width: 601px) {
  .page-selector > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly; } }

.page-selector .selected {
  border-bottom: solid #e535ab 3px; }

.page-selector span, .page-selector a {
  color: black;
  display: inline-block; }
  @media only screen and (max-device-width: 600px) {
    .page-selector span, .page-selector a {
      font-size: 4vh; } }
  @media only screen and (min-device-width: 601px) {
    .page-selector span, .page-selector a {
      text-align: center;
      font-size: 2vh; } }
  @media only screen and (max-device-width: 600px) {
    .page-selector span:not(:last-child), .page-selector a:not(:last-child) {
      margin-bottom: 2.5vh; } }

.indiv-fin {
  font-family: "Exo 2", sans-serif;
  font-size: 3vh;
  color: black; }
  @media only screen and (max-device-width: 600px) {
    .indiv-fin {
      max-height: 60vh !important;
      width: 95%;
      margin: auto; } }
  @media only screen and (min-device-width: 601px) {
    .indiv-fin {
      width: 90%;
      margin: auto; } }
  @media only screen and (min-device-width: 1100px) {
    .indiv-fin {
      max-height: 100vh;
      width: 65%;
      margin: auto;
      margin-top: 4vh !important; } }
  .indiv-fin > span:first-child {
    font-size: 6vh;
    display: block;
    margin: auto; }
  .indiv-fin div {
    border: solid black 1px;
    position: relative; }
  .indiv-fin span:first-child {
    margin-left: 1vh;
    font-weight: 200; }
  .indiv-fin span:last-child {
    margin-right: 1vh;
    float: right; }

.indiv-fin + .data-nav {
  color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  position: fixed;
  top: 73vh;
  width: 100vw;
  font-size: 2vh;
  padding-top: 1vh; }
  @media only screen and (min-device-width: 601px) {
    .indiv-fin + .data-nav {
      top: 89vh; } }
  @media only screen and (min-device-width: 1100px) {
    .indiv-fin + .data-nav {
      position: fixed;
      top: 20vh;
      width: 100vw;
      height: 3vh;
      background-color: white;
      justify-content: center;
      padding-top: 0vh; } }
  .indiv-fin + .data-nav span {
    cursor: pointer;
    border-top: solid grey 2px; }
    @media only screen and (min-device-width: 1100px) {
      .indiv-fin + .data-nav span {
        border-top: initial;
        border-bottom: solid grey 1px; }
        .indiv-fin + .data-nav span:not(:last-child) {
          margin-right: 3vh; } }
  .indiv-fin + .data-nav .selected {
    border-top: solid #e535ab 10px; }
    @media only screen and (min-device-width: 1100px) {
      .indiv-fin + .data-nav .selected {
        border-top: initial;
        border-bottom: solid #e535ab 0.5vh; } }

.indiv-perf {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 72vh; }
  @media only screen and (max-device-width: 600px) {
    .indiv-perf {
      height: 60vh; } }
  .indiv-perf .ticker-box {
    font-family: 'Exo 2', sans-serif; }
    @media only screen and (min-device-width: 1100px) {
      .indiv-perf .ticker-box {
        position: static; } }
    .indiv-perf .ticker-box span:first-child {
      font-size: 5vh;
      color: #e535ab;
      margin-right: 2vh; }
      @media only screen and (min-device-width: 1100px) {
        .indiv-perf .ticker-box span:first-child {
          position: static; } }
    .indiv-perf .ticker-box span:nth-of-type(2) {
      color: black;
      font-size: 2vh;
      font-weight: 100; }
      @media only screen and (min-device-width: 1100px) {
        .indiv-perf .ticker-box span:nth-of-type(2) {
          position: static; } }
  .indiv-perf .first-datapoints {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    font-family: 'Exo 2', sans-serif; }
    @media only screen and (min-device-width: 1100px) {
      .indiv-perf .first-datapoints {
        position: static;
        width: 30vw; } }
    .indiv-perf .first-datapoints div {
      display: inline-block; }
    .indiv-perf .first-datapoints span:first-child {
      font-family: "Exo 2", sans-serif;
      font-weight: 500;
      color: #ADADBD;
      font-size: 2vh;
      display: block; }
    .indiv-perf .first-datapoints span:last-child {
      font-family: "Exo 2", sans-serif;
      font-weight: 500;
      font-size: 3vh;
      display: block; }
  .indiv-perf .second-datapoints {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    font-family: 'Exo 2', sans-serif;
    top: 35vh;
    margin-top: 4vh; }
    .indiv-perf .second-datapoints div {
      display: flex;
      justify-content: center;
      align-items: center; }
    .indiv-perf .second-datapoints span:first-child {
      font-family: "Exo 2", sans-serif;
      font-weight: 500;
      color: #ADADBD;
      font-size: 2vh;
      display: block;
      margin-right: 3vh; }
    .indiv-perf .second-datapoints span:last-child {
      font-family: "Exo 2", sans-serif;
      font-weight: 500;
      font-size: 2vh;
      display: block; }
  .indiv-perf .chart-container {
    height: 40vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vh; }
    .indiv-perf .chart-container span:first-child {
      font-size: 2vh; }
    @media only screen and (min-device-width: 1100px) {
      .indiv-perf .chart-container {
        width: 75vw;
        margin-bottom: 2vh; } }
    .indiv-perf .chart-container .chart {
      width: 80%;
      height: 80%; }
  .indiv-perf .data-nav {
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
    font-size: 2vh;
    top: 71vh; }
    @media only screen and (min-device-width: 1100px) {
      .indiv-perf .data-nav {
        position: static;
        justify-content: space-around;
        width: 25vw;
        margin: auto; } }
    .indiv-perf .data-nav span {
      cursor: pointer; }
    .indiv-perf .data-nav .selected {
      border-top: solid #e535ab 3px; }

.news-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  margin-bottom: 1vh;
  color: black;
  border-bottom: solid grey 1px; }
  @media only screen and (min-device-width: 1100px) {
    .news-box {
      width: 75%;
      margin: auto;
      margin-bottom: 2vh; } }
  .news-box img {
    height: 15vh;
    width: auto;
    padding: 0 2vh 2vh 2vh; }
  .news-box > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 65%; }
    .news-box > div span {
      line-height: 1;
      margin: 1vh; }
    .news-box > div span:nth-of-type(1) {
      font-size: 3vh; }
    .news-box > div span:nth-of-type(2) {
      font-size: 1.5vh; }
    .news-box > div span:nth-of-type(3) {
      font-size: 2vh; }

.indiv-trans {
  color: black;
  font-size: 2.5vh; }
  @media only screen and (min-device-width: 1100px) {
    .indiv-trans {
      width: 75%;
      margin: auto; } }
  .indiv-trans > div:first-child {
    position: sticky;
    top: -1vh;
    background-color: white;
    text-align: center; }
    .indiv-trans > div:first-child span {
      display: inline-block;
      border-bottom: solid grey 4px;
      width: 21vw; }
      @media only screen and (min-device-width: 1100px) {
        .indiv-trans > div:first-child span {
          width: 10vw; } }
  .indiv-trans > div:nth-child(2) {
    text-align: center; }
    .indiv-trans > div:nth-child(2) span {
      font-size: 2vh;
      display: inline-block;
      border-bottom: solid grey 1px;
      width: 21vw; }
      @media only screen and (min-device-width: 1100px) {
        .indiv-trans > div:nth-child(2) span {
          width: 10vw; } }

.all-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: white; }
  @media only screen and (max-device-width: 600px) {
    .all-nav {
      position: absolute;
      bottom: 10vh;
      width: 100vw; } }
  @media only screen and (min-device-width: 601px) {
    .all-nav {
      position: absolute;
      bottom: initial;
      top: 11vh;
      width: 100vw; } }
  @media only screen and (min-device-width: 1100px) {
    .all-nav {
      position: absolute;
      bottom: initial;
      top: 17vh;
      width: 100vw; } }
  .all-nav a {
    text-decoration: none; }
  .all-nav .selected {
    border-top: solid #e535ab 3px; }
    @media only screen and (min-device-width: 1100px) {
      .all-nav .selected {
        border-top: initial;
        border-bottom: solid #e535ab 3px; } }
  .all-nav span {
    font-size: 2vh; }

.all-watchlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll; }
  .all-watchlist > span {
    color: black;
    font-size: 3vh;
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 4vh;
    margin-bottom: 4vh; }
    @media only screen and (min-device-width: 1100px) {
      .all-watchlist > span {
        margin-top: 2vh; } }
  .all-watchlist i {
    color: black;
    font-size: 3.5vh;
    background-color: white; }
    .all-watchlist i:hover {
      cursor: pointer; }
  .all-watchlist .fa-plus-edit {
    margin-right: 4vh; }
  .all-watchlist > div:first-child {
    position: fixed;
    right: 2vh;
    top: 2vh; }
    @media only screen and (min-device-width: 1100px) {
      .all-watchlist > div:first-child {
        right: 28vh;
        top: 11vh; } }
  @media only screen and (max-device-width: 600px) {
    .all-watchlist > div:nth-child(3) {
      max-height: 60vh;
      overflow: scroll; } }
  @media only screen and (min-device-width: 601px) {
    .all-watchlist > div:nth-child(3) {
      max-height: 70vh;
      overflow: scroll;
      margin-top: 5vh; } }
  @media only screen and (min-device-width: 1100px) {
    .all-watchlist > div:nth-child(3) {
      margin-top: 2vh; } }
  .all-watchlist .fa-minus {
    display: inline-block;
    margin-bottom: 2vh;
    font-size: 2vh; }
  .all-watchlist .watchlist-item-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85vw; }
    .all-watchlist .watchlist-item-container .fa-plus {
      margin-right: 0vh;
      font-size: 2vh;
      margin-bottom: 1vh; }
    @media only screen and (min-device-width: 1100px) {
      .all-watchlist .watchlist-item-container {
        width: 50vw; } }
  .all-watchlist .watchlist-item {
    border-bottom: solid black 1px;
    width: 70vw;
    height: 6vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-device-width: 1100px) {
      .all-watchlist .watchlist-item {
        width: 44vw;
        height: 7vh;
        margin-bottom: .5vh; } }
    .all-watchlist .watchlist-item span {
      font-size: 2vh; }
      @media only screen and (min-device-width: 1100px) {
        .all-watchlist .watchlist-item span {
          font-size: 2vh; } }
    .all-watchlist .watchlist-item div:first-child span:nth-of-type(2) {
      color: black;
      font-size: 2.25vw;
      max-width: 35vw;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 1vh; }
      @media only screen and (min-device-width: 1100px) {
        .all-watchlist .watchlist-item div:first-child span:nth-of-type(2) {
          font-size: 1.5vh; } }
    .all-watchlist .watchlist-item div:first-child span:last-child {
      display: block; }
    .all-watchlist .watchlist-item div:nth-child(2) {
      color: black; }
      .all-watchlist .watchlist-item div:nth-child(2) span:last-child {
        display: block; }

.symbol-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .symbol-box div {
    height: 10vh !important; }
  .symbol-box span {
    font-size: 4vh;
    color: #e535ab; }
    .symbol-box span:last-child {
      font-size: 2vh; }
  .symbol-box button {
    margin: 0 !important; }

.all-trans {
  color: black;
  text-align: center; }
  @media only screen and (min-device-width: 1100px) {
    .all-trans {
      width: 75%;
      margin: auto; } }
  .all-trans > span {
    display: block;
    color: black;
    font-size: 3vh;
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 4vh;
    margin-bottom: 4vh; }
    @media only screen and (min-device-width: 601px) {
      .all-trans > span {
        margin-bottom: 8vh; } }
    @media only screen and (min-device-width: 1100px) {
      .all-trans > span {
        margin-top: 2vh;
        margin-bottom: 5vh; } }
  .all-trans > div:nth-of-type(1) {
    position: sticky;
    top: -1vh;
    background-color: white;
    text-align: center; }
    .all-trans > div:nth-of-type(1) span {
      display: inline-block;
      border-bottom: solid black 1px;
      width: 16vw;
      font-size: 2vh; }
      @media only screen and (min-device-width: 1100px) {
        .all-trans > div:nth-of-type(1) span {
          font-size: 2vh;
          width: 10vw; } }
  .all-trans > div:nth-of-type(2) {
    text-align: center; }
    @media only screen and (max-device-width: 600px) {
      .all-trans > div:nth-of-type(2) {
        margin-top: 2vh;
        max-height: 52vh;
        overflow: scroll; } }
    @media only screen and (min-device-width: 601px) {
      .all-trans > div:nth-of-type(2) {
        margin-top: 2vh;
        max-height: 67vh;
        overflow: scroll; } }
    @media only screen and (min-device-width: 1100px) {
      .all-trans > div:nth-of-type(2) {
        margin-top: 0vh;
        max-height: 72vh; } }
    .all-trans > div:nth-of-type(2) span {
      font-size: 1.8vh;
      display: inline-block;
      border-bottom: solid grey 1px;
      width: 16vw; }
      @media only screen and (min-device-width: 1100px) {
        .all-trans > div:nth-of-type(2) span {
          width: 10vw;
          font-size: 2vh; } }
    .all-trans > div:nth-of-type(2) span:nth-of-type(5) {
      font-size: 1.5vh; }
      @media only screen and (min-device-width: 1100px) {
        .all-trans > div:nth-of-type(2) span:nth-of-type(5) {
          width: 10vw;
          font-size: 2vh; } }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-color: white;
  font-family: 'Sarabun', sans-serif;
  line-height: 1.5;
  color: white; }

a {
  text-decoration: none;
  color: initial; }

#app, .app-container {
  height: 100%; }

*:focus {
  outline: none; }

button {
  background-color: rgba(22, 30, 38, 0.8);
  color: white;
  cursor: pointer; }
  button:hover {
    opacity: .9; }
  button:active {
    opacity: .5; }

.indiv-container {
  overflow: scroll; }
  @media only screen and (max-device-width: 600px) {
    .indiv-container {
      max-height: 67vh; } }
  @media only screen and (min-device-width: 601px) {
    .indiv-container {
      max-height: 77vh; } }
  @media only screen and (min-device-width: 1100px) {
    .indiv-container {
      max-height: 73vh;
      margin-top: 3vh; } }

.error_message {
  color: black;
  font-size: 3vh;
  display: block;
  text-align: center; }
