.landing-rev {
  flex-direction: row-reverse !important; }

.landing {
  height: 100%;
  background-color: white;
  overflow: hidden; }
  @media only screen and (min-device-width: 1100px) {
    .landing {
      display: flex;
      flex-direction: row;
      height: 75%;
      width: 75%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  .landing .header {
    background-color: #613EEA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative; }
    @media only screen and (max-device-width: 600px) {
      .landing .header {
        height: 30%; } }
    @media only screen and (min-device-width: 601px) {
      .landing .header {
        height: 25%; } }
    @media only screen and (min-device-width: 1100px) {
      .landing .header {
        width: 40%;
        height: 100%; } }
    .landing .header img {
      position: absolute;
      top: 2vh;
      right: 2vh; }
      @media only screen and (max-device-width: 600px) {
        .landing .header img {
          height: 15rem; } }
      @media only screen and (min-device-width: 601px) {
        .landing .header img {
          height: 12rem; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .header img {
          height: 6vh; } }
    @media only screen and (max-device-width: 600px) {
      .landing .header .title {
        line-height: 2;
        font-size: 3vh; } }
    @media only screen and (min-device-width: 601px) {
      .landing .header .title {
        font-size: 3vh; } }
    @media only screen and (min-device-width: 1100px) {
      .landing .header .title {
        font-size: 4vh;
        align-self: flex-start;
        margin-top: 2vh;
        margin-left: 2vh; } }
    .landing .header .blurb {
      display: inline-block;
      width: 60%;
      margin-top: .5vh;
      text-align: justify; }
      @media only screen and (max-device-width: 600px) {
        .landing .header .blurb {
          font-size: 2.1vh; } }
      @media only screen and (min-device-width: 601px) {
        .landing .header .blurb {
          font-size: 2.1vh; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .header .blurb {
          align-self: flex-start;
          margin-top: 15vh;
          margin-left: 2vh;
          width: 80%; } }
    .landing .header .sign-btns {
      margin: end;
      display: flex;
      justify-content: space-between; }
      .landing .header .sign-btns span {
        margin-top: auto;
        cursor: pointer; }
      @media only screen and (max-device-width: 600px) {
        .landing .header .sign-btns {
          width: 90%;
          margin-top: auto;
          margin-bottom: 2vh;
          font-size: 6rem; } }
      @media only screen and (min-device-width: 601px) {
        .landing .header .sign-btns {
          font-size: 3vh;
          margin-top: auto;
          margin-right: auto;
          margin-left: 2vh; }
          .landing .header .sign-btns span:nth-child(1) {
            margin-right: 2vh; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .header .sign-btns span:nth-child(1) {
          margin-right: 0;
          font-size: 75%;
          opacity: .4;
          cursor: text; }
          .landing .header .sign-btns span:nth-child(1):hover {
            text-decoration: none; }
        .landing .header .sign-btns span {
          white-space: nowrap;
          margin-left: 1vh;
          margin-bottom: 6vh; }
          .landing .header .sign-btns span:hover {
            text-decoration: underline; } }
      .landing .header .sign-btns .unselected {
        opacity: .5;
        font-size: 75%; }
  .landing .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem; }
    @media only screen and (min-device-width: 1100px) {
      .landing .form {
        width: 60%;
        justify-content: center; } }
    .landing .form span {
      display: block;
      color: black; }
      @media only screen and (max-device-width: 600px) {
        .landing .form span {
          font-size: 3vh; } }
      @media only screen and (min-device-width: 601px) {
        .landing .form span {
          font-size: 3vh; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .form span {
          font-size: 2vh; } }
      .landing .form span:last-child {
        margin-top: .5vh;
        font-size: 2vh;
        cursor: pointer; }
        .landing .form span:last-child:hover {
          text-decoration: underline;
          opacity: .5; }
    .landing .form input {
      caret-color: black;
      height: 3vh; }
      @media only screen and (max-device-width: 600px) {
        .landing .form input {
          width: 80vw;
          font-size: 3vh;
          border: solid black 1px; } }
      @media only screen and (min-device-width: 601px) {
        .landing .form input {
          width: 80vw;
          font-size: 3vh;
          border: solid black 1px; } }
      @media only screen and (min-device-width: 1100px) {
        .landing .form input {
          height: 4vh;
          width: 20vw; } }
    @media only screen and (max-device-width: 600px) {
      .landing .form button {
        height: 4vh;
        width: 82%;
        font-size: 5rem;
        padding: 3px;
        margin-top: 2vh; } }
    @media only screen and (min-device-width: 601px) {
      .landing .form button {
        height: 4vh;
        width: 50%;
        font-size: 3vh;
        margin-top: 2vh; } }
    @media only screen and (min-device-width: 1100px) {
      .landing .form button {
        width: 20vw; } }

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-evenly;
  background-color: rgba(97, 62, 234, 0.1);
  padding: 1vh;
  width: 100vw; }
  footer img {
    height: 4.5vh;
    background-color: white;
    padding: .5vh;
    border-radius: 10px; }

.all-screens {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(97, 62, 234, 0.1);
  width: 100%; }
  @media only screen and (max-device-width: 600px) {
    .all-screens {
      position: fixed;
      bottom: 0; }
      .all-screens img {
        height: 7vh; }
      .all-screens i {
        margin-top: 2vh;
        margin-bottom: 2vh;
        color: grey; } }
  @media only screen and (min-device-width: 601px) {
    .all-screens {
      position: fixed;
      bottom: 0; }
      .all-screens img {
        height: 6vh; }
      .all-screens i {
        margin-top: 2vh;
        margin-bottom: 2vh;
        color: grey; } }
  @media only screen and (min-device-width: 1100px) {
    .all-screens {
      position: static;
      height: 4vh;
      bottom: initial; }
      .all-screens img {
        height: 6vh;
        z-index: 2; }
      .all-screens i {
        margin-top: 2vh;
        margin-bottom: 2vh;
        color: grey; } }

.desk-nav {
  width: 100%;
  height: 5vh;
  background-color: #613EEA;
  text-align: right;
  position: relative;
  white-space: nowrap; }
  .desk-nav span {
    font-size: 2.5vh;
    cursor: pointer; }
    .desk-nav span:hover {
      text-decoration: underline;
      opacity: .5; }
  .desk-nav span:first-child {
    position: absolute;
    left: 2vh; }
  .desk-nav span:nth-child(2) {
    margin-right: 4vh; }
  .desk-nav span:last-child {
    margin-right: 2vh; }

.data-nav {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  color: #ADADBD;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 85vh;
  width: 100vw;
  font-size: 2vh; }
  @media only screen and (min-device-width: 1100px) {
    .data-nav {
      position: static;
      justify-content: space-around;
      width: 25vw;
      margin: auto; } }
  .data-nav span {
    cursor: pointer;
    border-top: solid grey 2px; }
  .data-nav .selected {
    border-top: solid #34A9FF 10px; }

.individual-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh; }
  .individual-nav a {
    text-decoration: none; }
  .individual-nav span {
    font-size: 2vh;
    font-family: "Exo 2", sans-serif;
    color: #34A9FF; }
    @media only screen and (min-device-width: 601px) {
      .individual-nav span {
        font-size: 2.5vh; } }
  .individual-nav > span {
    cursor: pointer; }
    .individual-nav > span:hover {
      border-bottom: solid #34A9FF 3px; }
  .individual-nav > i {
    color: black; }
  .individual-nav div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-device-width: 600px) {
      .individual-nav div:nth-child(2) {
        flex-grow: .5; } }
    @media only screen and (min-device-width: 601px) {
      .individual-nav div:nth-child(2) {
        flex-grow: initial; } }
  .individual-nav div > i {
    color: #34A9FF;
    position: relative;
    bottom: .1vh;
    left: 1vh; }

.modal-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: flex;
  align-items: flex-start;
  justify-content: center; }
  @media only screen and (min-device-width: 1100px) {
    .modal-container {
      justify-content: flex-end; } }
  .modal-container .trade-box {
    margin-top: 10vh;
    background-color: white;
    width: 40vh;
    height: 40vh;
    cursor: pointer; }
    @media only screen and (min-device-width: 1100px) {
      .modal-container .trade-box {
        margin-right: 20vw; } }
    .modal-container .trade-box > div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%; }
    .modal-container .trade-box input {
      width: 18vh;
      height: 9vh;
      border: solid black 1px;
      font-size: 8vh; }
    .modal-container .trade-box button {
      width: 10.5vh;
      height: 8vh;
      background-color: #34A9FF;
      font-size: 5vh;
      text-align: center; }
      .modal-container .trade-box button:nth-of-type(1) {
        margin-right: 4vh; }
    .modal-container .trade-box > div > span {
      font-size: 5vh;
      color: #34A9FF; }

@media only screen and (max-device-width: 600px) {
  .selector {
    margin-top: 10vh;
    background-color: white;
    width: 40vh;
    height: 40vh; } }

@media only screen and (max-device-width: 600px) {
  .selector > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media only screen and (min-device-width: 601px) {
  .selector > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly; } }

.selector .selected {
  border-bottom: solid #34A9FF 3px; }

.selector span, .selector a {
  color: black;
  display: inline-block; }
  @media only screen and (max-device-width: 600px) {
    .selector span, .selector a {
      font-size: 4vh; } }
  @media only screen and (min-device-width: 601px) {
    .selector span, .selector a {
      text-align: center;
      font-size: 2vh; } }
  @media only screen and (max-device-width: 600px) {
    .selector span:not(:last-child), .selector a:not(:last-child) {
      margin-bottom: 2.5vh; } }

.indiv-fin {
  height: 100%;
  background-color: orange; }

.indiv-perf {
  color: black; }
  @media only screen and (min-device-width: 1100px) {
    .indiv-perf {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw; } }
  .indiv-perf .ticker-box {
    display: inline;
    position: relative;
    font-family: 'Exo 2', sans-serif; }
    @media only screen and (min-device-width: 1100px) {
      .indiv-perf .ticker-box {
        position: static; } }
    .indiv-perf .ticker-box span:first-child {
      font-size: 5vh;
      position: relative;
      left: 7vh;
      top: 5vh;
      color: #34A9FF; }
      @media only screen and (min-device-width: 1100px) {
        .indiv-perf .ticker-box span:first-child {
          position: static; } }
    .indiv-perf .ticker-box span:nth-of-type(2) {
      color: green;
      position: relative;
      font-size: 2vh;
      right: 3vh;
      top: 8vh;
      font-weight: 100; }
      @media only screen and (min-device-width: 1100px) {
        .indiv-perf .ticker-box span:nth-of-type(2) {
          position: static; } }
  .indiv-perf .first-datapoints {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 12vh;
    font-family: 'Exo 2', sans-serif; }
    @media only screen and (min-device-width: 1100px) {
      .indiv-perf .first-datapoints {
        position: static;
        width: 30vw; } }
    .indiv-perf .first-datapoints div {
      display: inline-block; }
    .indiv-perf .first-datapoints span:first-child {
      font-family: "Exo 2", sans-serif;
      font-weight: 500;
      color: #ADADBD;
      font-size: 2vh;
      display: block; }
    .indiv-perf .first-datapoints span:last-child {
      font-family: "Exo 2", sans-serif;
      font-weight: 500;
      font-size: 3vh;
      display: block; }
  .indiv-perf .second-datapoints {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    font-family: 'Exo 2', sans-serif;
    top: 35vh;
    margin-top: 4vh; }
    .indiv-perf .second-datapoints div {
      display: flex;
      justify-content: center;
      align-items: center; }
    .indiv-perf .second-datapoints span:first-child {
      font-family: "Exo 2", sans-serif;
      font-weight: 500;
      color: #ADADBD;
      font-size: 2vh;
      display: block;
      margin-right: 3vh; }
    .indiv-perf .second-datapoints span:last-child {
      font-family: "Exo 2", sans-serif;
      font-weight: 500;
      font-size: 2vh;
      display: block; }
  .indiv-perf .chart-container {
    border: solid black 5px;
    height: 40vh;
    position: relative;
    font-size: 5vh;
    text-align: center; }
    @media only screen and (min-device-width: 1100px) {
      .indiv-perf .chart-container {
        width: 75vw;
        margin-bottom: 2vh; } }

.news-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.news-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  margin-bottom: 1vh;
  color: black;
  border-bottom: solid grey 1px; }
  .news-box img {
    height: 15vh;
    width: auto;
    padding: 0 2vh 2vh 2vh; }
  .news-box > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 65%; }
    .news-box > div span {
      line-height: 1; }
    .news-box > div span:nth-of-type(1) {
      font-size: 4vh; }
    .news-box > div span:nth-of-type(2) {
      font-size: 2vh; }
    .news-box > div span:nth-of-type(3) {
      font-size: 3vh; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  background-color: white;
  font-family: 'Sarabun', sans-serif;
  line-height: 1.5;
  color: white; }

#app, .app-container {
  height: 100%; }

*:focus {
  outline: none; }

button {
  background-color: #613EEA;
  color: white;
  cursor: pointer; }
  button:hover {
    opacity: .9; }
  button:active {
    opacity: .5; }
