
.all-watchlist {

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

    // title

    > span {
        color: black;
        font-size: 3vh;
        font-family: $second-text;
        text-transform: uppercase;
        font-weight: 100;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    i {
        color: black;
        font-size: 3.5vh;
        background-color: white;

    }
    
    .fa-plus {

        margin-right: 4vh;
    }

    // nav buttons

    > div:first-child {
        position: fixed;
        right: 2vh;
        top: 2vh;
    }

    // the entire list 

    > div:nth-child(3) {

        @include cell(){

            max-height: 70vh;
            overflow: scroll;
        }
    }

    .fa-minus{

        color: green;
        display: inline-block;
        margin-bottom: 2vh;

    }

    // portfolio items 

    .watchlist-item-container{

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 85vw;
    }

    .watchlist-item{
        
        border-bottom: solid black 1px;
        width: 60vw;
        height: 6vh;
        margin-bottom: 3vh;

        display: flex;
        justify-content: space-between;

        span {

            font-size: 2vh;
        }

        div:first-child{

            color: green;
            
            span:first-child{
                
            }

            span:last-child{
                display: block;
            }
        }

        div:nth-child(2){

            color: orange;

            span:first-child{

            }
            
            span:last-child{

                display: block;
            }
        }
    }
}

.symbol-box {

    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        height: 10vh !important;
    }

    span {
        font-size: 4vh;
        color: $light-blue;

    }

    button {
        margin: 0 !important;
    }
}