.individual-nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

    a {
        text-decoration: none;
    }

    span {

        font-size: 2vh;
        font-family: $second-text;
        color: $light-blue;
    }
 
    // the trade icon
    // for the cell layout

    > i {

        color: black;
    }

    // the chevron icon 
    // for the cell layout

    div:nth-child(2){
        flex-grow: .5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div > i {
        color: $light-blue;
        position: relative;
        bottom: .1vh;
        left: 1vh;
    }

    // the trade box

    span:last-child{

        
    }
}

.modal-container {

    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    z-index: 4;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    .trade-box {

        margin-top: 10vh;
        background-color: white;
        width: 40vh;
        height: 40vh;
        
        > div {

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
        }

        input {

            width: 18vh;
            height: 9vh;
            border: solid black 1px;
            font-size: 8vh;
        }

        button {
            width: 10vh;
            height: 8vh;
            background-color: $light-blue;
            font-size: 5vh;

            &:nth-of-type(1){
                margin-right: 4vh;
            }
        } 

        > div > span {
            font-size: 5vh;
            color: $light-blue;
        }
    }
}

.selector {
        
    @include cell(){
        margin-top: 10vh;
        background-color: white;
        width: 40vh;
        height: 40vh;
    }

    > div {
        
        @include cell(){
            
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @include tab(){

            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .selected {

        border-bottom: solid $light-blue 5px;
    }
     
    span, a {

        color: black;
        display: inline-block;

        @include cell(){

            font-size: 4vh;
        }

        @include tab(){
            text-align: center;
            font-size: 2vh;
        }

        &:not(:last-child){

            @include cell(){

                margin-bottom: 2.5vh;
            }
        }
    }

}