.news-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.news-box {

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    margin-bottom: 1vh;
    color: black;
    border-bottom: solid grey 1px;
    
    img {

        height: 15vh;
        width: auto;
        padding: 0 2vh 2vh 2vh;
    }

     > div{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 65%;

        span {
            line-height: 1;
        }
    
        span:nth-of-type(1){
            font-size: 4vh;
        }

        span:nth-of-type(2){
            font-size: 2vh;
        }

        span:nth-of-type(3){
            font-size: 3vh;
        }
    }
}