.all-screens {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $purple-light;
    width: 100%;
        
    .selected{

        color: $light-blue;
    }
    
    @include cell(){

        position: fixed;
        bottom: 0;

        img {
            height: 7vh;
        }
        
        i {
            margin-top: 2vh;
            margin-bottom: 2vh;
            color: grey;
            font-size: 4vh;
        }
    }

    @include tab(){

        position: fixed;
        bottom: 0;

        img {

            height: 6vh;
        }
        
        i {
            margin-top: 2vh;
            margin-bottom: 2vh;
            color: grey;

            font-size: 3vh;
        }
    }

    @include desk(){

        position: static;
        height: 4vh;
        bottom: initial;

        a {
            display: flex;
            align-items: center;

            * {
                margin-left: 1vh;
            }

            &:hover{
                opacity: .5;
            }
        }
        
        img {

            height: 6vh;
            z-index: 2;
        }
        
        i {
            margin-top: 2vh;
            margin-bottom: 2vh;
            color: grey;
            font-size: 3vh;
        }

        span {

            font-size: 2vh;
           
        }
    }


}


.desk-nav {

    @include desk(){

        width: 100%;
        height: 5vh;
        background-color: $purple;
        text-align: right;
        position: relative;
        @include no-text-break;

        span {

            font-size: 2.5vh;

            cursor: pointer;
            
            &:hover {
                text-decoration: underline;
                opacity: .5;
            }
        }

        // main title

        span:first-child {
            margin-top: .5vh;
            position: absolute;
            left: 2vh;
            font-family: $second-text;
            font-weight: 100;
        }

        span:nth-child(2){
            margin-top: .5vh;
            margin-right: 4vh;
        }

        span:last-child{
            margin-top: .5vh;
            margin-right: 2vh;
        }
    }    

}