.modal-container {

    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    z-index: 4;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    @include desk(){

        &:not(:has(.symbol-selector)){

            justify-content: flex-end;
        }

        &:has(.symbol-selector){
            justify-content: center;
        }
    }

    .trade-box {

        margin-top: 10vh;
        background-color: white;
        width: 40vh;
        height: 40vh;
        cursor: pointer;

        @include desk(){
            
            margin-top: 21vh;
        }
        
        > div {

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
        }

        input {

            width: 18vh;
            height: 9vh;
            border: solid black 1px;
            font-size: 8vh;
        }

        button {
            width: 10.5vh;
            height: 8vh;
            background-color: $light-blue;
            font-size: 5vh;
            text-align: center;

            &:nth-of-type(1){
                margin-right: 4vh;
            }
        } 

        > div > span {
            font-size: 5vh;
            color: $light-blue;
            
        }

        .trade-tooltip {
            top: -7vh;
            font-size: .8rem;
            background-color: rgba(0,0,0,.6);
            color: white;
            width: 10vw;
            border-radius: 10px;
            left: 9vw;
            padding: .5rem;
        } 
        
    }

    .symbol-selector {

        background-color: white;
        width: 30vh;
        cursor: pointer;
        font-size: 5vh;
        color: black;

        margin-top: 10vh;
        
        @include desk(){

            margin-top: 14vh;
        }

        span {
            
            &:hover{
                
                color: $light-blue;
                text-decoration: underline;
            }
        }
        
        > div {
            
            max-height: 81vh;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span:first-child{
                
                margin-top: 15vh;
            }
        }

    }
}
