.modal-container {

    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    z-index: 4;

    display: flex;
    align-items: flex-start;
    
    justify-content: center;
    
    @include desk(){

        justify-content: flex-end;
    }

    .trade-box {

        margin-top: 10vh;
        background-color: white;
        width: 40vh;
        height: 40vh;
        cursor: pointer;

        @include desk(){

            margin-right: 20vw;
        }
        
        > div {

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
        }

        input {

            width: 18vh;
            height: 9vh;
            border: solid black 1px;
            font-size: 8vh;
        }

        button {
            width: 10.5vh;
            height: 8vh;
            background-color: $light-blue;
            font-size: 5vh;
            text-align: center;

            &:nth-of-type(1){
                margin-right: 4vh;
            }
        } 

        > div > span {
            font-size: 5vh;
            color: $light-blue;
            
        }
    }
}
