// vars

$purple : #613EEA;
$purple-light: rgba(97, 62, 234, .1);
$light-blue: #34A9FF;
$white-background : rgba(255,255,255,.1);

$max: max-device-width;
$min: min-device-width;
$second-text: 'Exo 2', sans-serif;